{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Edit User</h1>

    <form method="post" action="{{ path('app_back_user_update', {'id': user.id}) }}">
        {{ form_widget(form) }}
        <button type="submit">Save</button>
    </form>

    <a href="{{ path('app_back_office_users_browseUser') }}">Back to List</a>
{% endblock %}
