{% extends 'base.html.twig' %}
{% block title %}mAIsterpiece<i class="bi bi-robot"></i>{% endblock %}
{% block body %}
<div class="container col-6">
<h1>Ajout d'un utilisateur</h1>
{{ form_start(form) }}
{{ form_rest(form) }}

<button class="btn btn-warning" type="submit">créer un utilisateur</button>

{{ form_end(form) }}

</div>
{% endblock %}